<!DOCTYPE html>
<html  ng-app = "mainApp" ng-controller = "mainCtrl">
    <title>
        resume
    </title>
    <head>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
            <script src="script.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
            <style>
            </style>
    </head>
    

    <form>
        <table>
            <tr>
                <td>First name</td><td><input type="text" ng-model="student.fName"></td>
            </tr>
            <tr>
                <td>Last name</td><td><input type="text" ng-model="student.lName"></td>
            </tr>
            <tr>
                <td>Address</td><td><input type="text" ng-model="student.address"></td>
            </tr>
            <tr>
                <td>School</td><td><input type="text" ng-model="student.schoolName"></td>
            </tr>
            <tr>
                <td>College</td><td><input type="text" ng-model="student.collegeName"></td>
            </tr>
            <tr>
                <td>CGPA</td><td><input type="number" min="0" max="10.00" step="0.01" ng-model="student.cgpa"></td>
            </tr>
            <tr>
                <td>Achievements</td><td><input type="text" ng-model="student.achievements"></td>
            </tr>
            <tr><td>
                <br><br>
            </td></tr>
            <tr>
                    
                <td><button ng-click="Submit()">Submit</button></td>
            </tr>
        </table>

    </form>
    </body>
</html>